arrow==0.12.1
beautifulsoup4==4.6.0
bs4==0.0.1
Django==2.0.4
django-extensions==2.0.6
requests==2.18.4
django-jinja==2.4.1
ipdb==0.11
ipython==6.3.1
Jinja2==2.10
requests==2.18.4
youtube-dl==2018.5.1
celery==4.1.0
django-celery-beat==1.1.1
redis==2.10.6
