{% extends "base.html" %}

{% block navtitle %}Video Downloads{% endblock %}

{% block navlinks %}
<li class="nav-item active">
    <a class="nav-link" href="{{ url('video_downloads') }}">History</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Add Video</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">Add Playlist</a>
</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                History of Video Downloads
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Title</th>
                            <th scope="col">Target</th>
                            <th scope="col">Status</th>
                            <th scope="col">Playlist</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in videos %}
                        <tr>
                            {% if video.target_type == video.TARGET_YOUTUBE %}
                            <td><i class="fa fa-youtube-play"></i></td>
                            {% else %}
                            <td><i class="fa fa-cloud-download"></i></td>
                            {% endif %}
                            <td>{{ video.title }}</td>
                            <td>{{ video.target }}</td>
                            <td>{{ video.status }}</td>
                            {% if video.playlist %}
                            <td>{{ video.playlist.title }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}