{% extends "base.html" %}

{% block navtitle %}Dashboard{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header dp-card-header">
                Last 10 Videos Downloaded
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Title</th>
                            <th scope="col">Playlist</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for video in latest_downloaded_videos %}
                        <tr>
                            {% if video.target_type == video.TARGET_YOUTUBE %}
                            <td><i class="fa fa-youtube-play"></i></td>
                            {% else %}
                            <td><i class="fa fa-cloud-download"></i></td>
                            {% endif %}
                            <td>{{ video.title }}</td>
                            {% if video.playlist %}
                            <td>{{ video.playlist.title }}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header dp-card-header">Totals</div>
            <div class="card-body">
                In Queue: {{ video_in_queue }}<br />
                Completed: {{ video_completed }}<br />
                Errored: {{ video_errored }}<br />
            </div>
        </div>
    </div>
</div>

{% endblock %}